.main-content {
    max-width: 1320px;
    width: 100%;
    margin: 20px auto;
    padding: 0 12px;
}

.page-header {
   .carousel-item {
        img {
            max-height: 500px;
            object-fit: cover;
            filter: brightness(50%);
        }
   }
}

.main-header {
    img {
        max-height: 500px;
        object-fit: cover;
    }
}
.main-title {
    margin-top: 10px;
    margin-bottom: 35px;
}

.btn {
    color: white;
    &.btn-success {
        background-color: $color-btn-success;
    }
    &.btn-info {
        background-color: $color-base-blue;
        border-color: $color-base-blue;
    }
    &.btn-yellow {
        background-color: $color-base-dark-yellow;
        border-color: $color-base-dark-yellow;
        color: black;
        &:hover { 
            color: black;
        }
    }
    
    &:hover {
        color: white;
    }
    &:active {
        background-color: transparent !important;
        border-color: black !important;
    }
}

.cards-home-container {
    gap: 4%;
}